.container-main {
    margin-top: 70px;
    margin-bottom: 20px;
    min-height: 600px;
}

@media (min-height: 800px) {
    .container-main {
        min-height: 800px;
    }
}

@media (min-height: 1000px) {
    .container-main {
        min-height: 1000px;
    }
}

.container-footer {
    padding-bottom: 20px;
    color: #e6e6e6;
}

footer {
    background-color: black;
}

.item-form {
    width: 70%;
}

.register-form {
    width: 50%;
}

.an-item {

}

.item-row {
    margin-bottom: 20px;
}

.thumbnail{
    position:relative;
}

.thumbnail.img-selected {
    background-color: #0088cc;
}

.thumbnail-detail{
    position:absolute;
    bottom:0%;
    left:0%;
    width:100%;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 10px;
    font-size: 24px;
    font-weight: 200;
    z-index: 2;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
}

.thumbnail-detail-small{
    position:absolute;
    bottom:0%;
    left:0%;
    width:100%;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px 0px;
    font-size: 20px;
    font-weight: 100;
    z-index: 2;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

    /* Safari 1.x */
    -khtml-opacity: 1;

    /* Good browsers */
    opacity: 1;
}


.form-register {
    max-width: 800px;
    padding: 15px;
    margin: 50px auto;
}

.form-register .form-group {
    padding-left: 10px;
}

.form-signin {
    max-width: 630px;
    padding: 15px;
    margin: 50px auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-action {
    text-decoration: none !important;
}

.no-underline {
    text-decoration: none !important;
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

.multi-item-select-img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }

    .multi-item-select {
        height: 170px;
    }

    .multi-item-select-img {
        max-height: 165px
    }
}

.text-white {
    color: white;
}

.item-name {
    color: white;
}

.like {
    width: 30px;
    height: 30px;
    background: url('../img/like.png') no-repeat;
}

.like:hover {
    cursor: pointer;
    cursor: hand;
}

.unlike {
    width: 30px;
    height: 30px;
    background: url('../img/like.png') no-repeat;
    opacity: 0.4;
}

.unlike:hover {
    cursor: pointer;
    cursor: hand;
}
